@import "../../styles/colors";

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    align-self: center;
    width: 400px;
    box-shadow: 0 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
    }

    .submit {
      margin-top: 32px;

      &:disabled {
        background-color: $disabledBackground;
        color: $disabledText;

        &:hover {
          opacity: 1;
        }
      }
    }

    .link {
      text-align: center;
      color: $primary;
      text-transform: lowercase;
      margin-top: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
