@import "colors";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"], input[type="email"] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 40px 0 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  line-height: 60px;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}
